{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> {{ text_reports_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% for report in reports %}
          <a href="{{ report.href }}" class="list-group-item">
            <i class="fa fa-line-chart"></i> {{ report.name }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}