<!-- paymob {{ PAYMOB_OC3_23_VERSION }} -->
<form action="{{ action }}" method="post" id="paymobFormCheckout" data-paymob="{{ PAYMOB_OC3_23_VERSION }}">
    <div class="buttons" data-paymob="{{  PAYMOB_OC3_23_VERSION }}">
        <div class="pull-right">
            <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" id="paymobButtonCheckout" data-loading-text="Loading..." />
        </div>
    </div>
</form>