<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<style>
body {
    margin:10px;
    font-family: sans-serif;
}
table {
    width: 50%;
    border-collapse: collapse;
    font-size:14px;
    margin-bottom:20px;
}
th, td {
    border:1px solid #000;
    padding:5px;
    text-align:right;
}
th {
    background:#eee;
    text-align:center;
}
.section-title {
    font-weight: bold;
    margin-top:20px;
    margin-bottom:10px;
    font-size:16px;
    text-align:left;
}
</style>
</head>
<body>
<h2>{{ text_vat_report }}</h2>
<p>{{ text_period }}: {{ text_from }} {{ start_date }} {{ text_to }} {{ end_date }}</p>

<table>
<tr>
    <th>{{ text_vat_sales }}</th>
    <td>{{ vat_sales }}</td>
</tr>
<tr>
    <th>{{ text_vat_purchases }}</th>
    <td>{{ vat_purchases }}</td>
</tr>
<tr>
    <th>{{ text_net_vat }}</th>
    <td>{{ net_vat }}</td>
</tr>
</table>

<p>{{ whoprint }} - {{ printdate }}</p>
</body>
</html>
