{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" id="button-refresh" data-toggle="tooltip" title="{{ button_refresh }}" class="btn btn-info">
          <i class="fa fa-refresh"></i>
        </button>
        <button type="button" id="button-export" data-toggle="tooltip" title="{{ button_export }}" class="btn btn-success">
          <i class="fa fa-download"></i>
        </button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    
    {% if success %}
    <div class="alert alert-success alert-dismissible">
      <i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    
    <!-- Filters Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filters }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="input-branch">{{ entry_branch }}</label>
              <select name="filter_branch_id" id="input-branch" class="form-control">
                <option value="">{{ text_all_branches }}</option>
                {% for branch in branches %}
                <option value="{{ branch.branch_id }}"{% if branch.branch_id == filter_branch_id %} selected{% endif %}>{{ branch.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="input-category">{{ entry_category }}</label>
              <select name="filter_category_id" id="input-category" class="form-control">
                <option value="">{{ text_all_categories }}</option>
                {% for category in categories %}
                <option value="{{ category.category_id }}"{% if category.category_id == filter_category_id %} selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="input-date-from">{{ entry_date_from }}</label>
              <div class="input-group date">
                <input type="text" name="filter_date_from" value="{{ filter_date_from }}" placeholder="{{ entry_date_from }}" data-date-format="YYYY-MM-DD" id="input-date-from" class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="input-date-to">{{ entry_date_to }}</label>
              <div class="input-group date">
                <input type="text" name="filter_date_to" value="{{ filter_date_to }}" placeholder="{{ entry_date_to }}" data-date-format="YYYY-MM-DD" id="input-date-to" class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="input-period">{{ entry_period }}</label>
              <select name="filter_period" id="input-period" class="form-control">
                <option value="day"{% if filter_period == 'day' %} selected{% endif %}>{{ text_daily }}</option>
                <option value="week"{% if filter_period == 'week' %} selected{% endif %}>{{ text_weekly }}</option>
                <option value="month"{% if filter_period == 'month' %} selected{% endif %}>{{ text_monthly }}</option>
                <option value="quarter"{% if filter_period == 'quarter' %} selected{% endif %}>{{ text_quarterly }}</option>
                <option value="year"{% if filter_period == 'year' %} selected{% endif %}>{{ text_yearly }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" id="button-filter" class="btn btn-primary">
              <i class="fa fa-search"></i> {{ button_filter }}
            </button>
            <button type="button" id="button-clear" class="btn btn-default">
              <i class="fa fa-refresh"></i> {{ button_clear }}
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Summary Cards -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-cubes fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ inventory_summary.total_products }}</div>
                <div>{{ text_total_products }}</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">{{ text_total_value }}: {{ inventory_summary.total_value|number_format(2) }}</span>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-check-circle fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ inventory_summary.stock_health_percentage }}%</div>
                <div>{{ text_stock_health }}</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">{{ text_healthy_stock }}</span>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-exclamation-triangle fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ inventory_summary.low_stock_count }}</div>
                <div>{{ text_low_stock_items }}</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">{{ text_requires_attention }}</span>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-times-circle fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ inventory_summary.out_of_stock_count }}</div>
                <div>{{ text_out_of_stock_items }}</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">{{ text_critical_attention }}</span>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Analytics Tabs -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#movement-trends" aria-controls="movement-trends" role="tab" data-toggle="tab">
              <i class="fa fa-line-chart"></i> {{ tab_movement_trends }}
            </a>
          </li>
          <li role="presentation">
            <a href="#stock-levels" aria-controls="stock-levels" role="tab" data-toggle="tab">
              <i class="fa fa-list"></i> {{ tab_stock_levels }}
            </a>
          </li>
          <li role="presentation">
            <a href="#valuation-analysis" aria-controls="valuation-analysis" role="tab" data-toggle="tab">
              <i class="fa fa-pie-chart"></i> {{ tab_valuation_analysis }}
            </a>
          </li>
          <li role="presentation">
            <a href="#abc-analysis" aria-controls="abc-analysis" role="tab" data-toggle="tab">
              <i class="fa fa-bar-chart"></i> {{ tab_abc_analysis }}
            </a>
          </li>
          <li role="presentation">
            <a href="#slow-moving" aria-controls="slow-moving" role="tab" data-toggle="tab">
              <i class="fa fa-clock-o"></i> {{ tab_slow_moving }}
            </a>
          </li>
          <li role="presentation">
            <a href="#stock-alerts" aria-controls="stock-alerts" role="tab" data-toggle="tab">
              <i class="fa fa-bell"></i> {{ tab_stock_alerts }}
            </a>
          </li>
        </ul>
        
        <div class="tab-content">
          <!-- Movement Trends Tab -->
          <div role="tabpanel" class="tab-pane active" id="movement-trends">
            <div class="row">
              <div class="col-md-12">
                <canvas id="movement-trends-chart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>
          
          <!-- Stock Levels Tab -->
          <div role="tabpanel" class="tab-pane" id="stock-levels">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>{{ column_product_name }}</th>
                    <th>{{ column_sku }}</th>
                    <th>{{ column_branch }}</th>
                    <th>{{ column_quantity }}</th>
                    <th>{{ column_unit_cost }}</th>
                    <th>{{ column_total_value }}</th>
                    <th>{{ column_stock_status }}</th>
                  </tr>
                </thead>
                <tbody id="stock-levels-data">
                  {% for item in stock_levels %}
                  <tr class="{% if item.stock_status == 'out_of_stock' %}danger{% elseif item.stock_status == 'low_stock' %}warning{% elseif item.stock_status == 'overstock' %}info{% endif %}">
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.sku }}</td>
                    <td>{{ item.branch_name }}</td>
                    <td>{{ item.quantity|number_format(2) }} {{ item.unit_name }}</td>
                    <td>{{ item.average_cost|number_format(2) }}</td>
                    <td>{{ item.total_value|number_format(2) }}</td>
                    <td>
                      {% if item.stock_status == 'out_of_stock' %}
                        <span class="label label-danger">{{ text_out_of_stock }}</span>
                      {% elseif item.stock_status == 'low_stock' %}
                        <span class="label label-warning">{{ text_low_stock }}</span>
                      {% elseif item.stock_status == 'overstock' %}
                        <span class="label label-info">{{ text_overstock }}</span>
                      {% else %}
                        <span class="label label-success">{{ text_normal }}</span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          
          <!-- Other tabs content will be loaded via AJAX -->
          <div role="tabpanel" class="tab-pane" id="valuation-analysis">
            <div id="valuation-chart-container">
              <canvas id="valuation-chart" width="400" height="200"></canvas>
            </div>
          </div>
          
          <div role="tabpanel" class="tab-pane" id="abc-analysis">
            <div id="abc-chart-container">
              <canvas id="abc-chart" width="400" height="200"></canvas>
            </div>
          </div>
          
          <div role="tabpanel" class="tab-pane" id="slow-moving">
            <div class="table-responsive">
              <table class="table table-bordered table-hover" id="slow-moving-table">
                <thead>
                  <tr>
                    <th>{{ column_product_name }}</th>
                    <th>{{ column_sku }}</th>
                    <th>{{ column_quantity }}</th>
                    <th>{{ column_value }}</th>
                    <th>{{ column_last_movement }}</th>
                    <th>{{ column_days_since_movement }}</th>
                  </tr>
                </thead>
                <tbody id="slow-moving-data">
                  <!-- Data loaded via AJAX -->
                </tbody>
              </table>
            </div>
          </div>
          
          <div role="tabpanel" class="tab-pane" id="stock-alerts">
            <div class="table-responsive">
              <table class="table table-bordered table-hover" id="stock-alerts-table">
                <thead>
                  <tr>
                    <th>{{ column_product_name }}</th>
                    <th>{{ column_branch }}</th>
                    <th>{{ column_current_stock }}</th>
                    <th>{{ column_minimum_stock }}</th>
                    <th>{{ column_alert_type }}</th>
                    <th>{{ column_action }}</th>
                  </tr>
                </thead>
                <tbody id="stock-alerts-data">
                  <!-- Data loaded via AJAX -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    // Initialize date pickers
    $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
    });
    
    // Filter button
    $('#button-filter').on('click', function() {
        loadAnalyticsData();
    });
    
    // Clear filters
    $('#button-clear').on('click', function() {
        $('select[name="filter_branch_id"]').val('');
        $('select[name="filter_category_id"]').val('');
        $('input[name="filter_date_from"]').val('{{ "now"|date("Y-m-01") }}');
        $('input[name="filter_date_to"]').val('{{ "now"|date("Y-m-d") }}');
        $('select[name="filter_period"]').val('month');
        loadAnalyticsData();
    });
    
    // Refresh button
    $('#button-refresh').on('click', function() {
        location.reload();
    });
    
    // Export button
    $('#button-export').on('click', function() {
        var url = '{{ export }}';
        var params = getFilterParams();
        window.open(url + '&' + params, '_blank');
    });
    
    // Tab change events
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href");
        loadTabData(target);
    });
    
    // Initialize movement trends chart
    initMovementTrendsChart();
    
    function getFilterParams() {
        var params = [];
        params.push('filter_branch_id=' + $('select[name="filter_branch_id"]').val());
        params.push('filter_category_id=' + $('select[name="filter_category_id"]').val());
        params.push('filter_date_from=' + $('input[name="filter_date_from"]').val());
        params.push('filter_date_to=' + $('input[name="filter_date_to"]').val());
        params.push('filter_period=' + $('select[name="filter_period"]').val());
        return params.join('&');
    }
    
    function loadAnalyticsData() {
        // Reload current tab data
        var activeTab = $('.nav-tabs .active a').attr('href');
        loadTabData(activeTab);
    }
    
    function loadTabData(tab) {
        var dataType = '';
        switch(tab) {
            case '#movement-trends':
                dataType = 'movement_trends';
                break;
            case '#valuation-analysis':
                dataType = 'valuation';
                break;
            case '#abc-analysis':
                dataType = 'abc_analysis';
                break;
            case '#slow-moving':
                dataType = 'slow_moving';
                break;
            case '#stock-alerts':
                dataType = 'alerts';
                break;
        }
        
        if (dataType) {
            $.ajax({
                url: 'index.php?route=dashboard/inventory_analytics&ajax=1&user_token={{ user_token }}',
                type: 'post',
                data: {
                    data_type: dataType,
                    branch_id: $('select[name="filter_branch_id"]').val(),
                    category_id: $('select[name="filter_category_id"]').val(),
                    date_from: $('input[name="filter_date_from"]').val(),
                    date_to: $('input[name="filter_date_to"]').val(),
                    period: $('select[name="filter_period"]').val()
                },
                dataType: 'json',
                success: function(json) {
                    if (json.success) {
                        updateTabContent(tab, json.data);
                    } else if (json.error) {
                        alert(json.error);
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        }
    }
    
    function updateTabContent(tab, data) {
        switch(tab) {
            case '#movement-trends':
                updateMovementTrendsChart(data);
                break;
            case '#valuation-analysis':
                updateValuationChart(data);
                break;
            case '#abc-analysis':
                updateABCChart(data);
                break;
            case '#slow-moving':
                updateSlowMovingTable(data);
                break;
            case '#stock-alerts':
                updateStockAlertsTable(data);
                break;
        }
    }
    
    function initMovementTrendsChart() {
        // Initialize Chart.js chart for movement trends
        var ctx = document.getElementById('movement-trends-chart').getContext('2d');
        window.movementTrendsChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: '{{ text_inbound }}',
                    data: [],
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }, {
                    label: '{{ text_outbound }}',
                    data: [],
                    borderColor: 'rgb(255, 99, 132)',
                    tension: 0.1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
    
    function updateMovementTrendsChart(data) {
        if (window.movementTrendsChart && data) {
            var labels = data.map(function(item) { return item.period; });
            var inboundData = data.map(function(item) { return item.inbound_quantity; });
            var outboundData = data.map(function(item) { return item.outbound_quantity; });
            
            window.movementTrendsChart.data.labels = labels;
            window.movementTrendsChart.data.datasets[0].data = inboundData;
            window.movementTrendsChart.data.datasets[1].data = outboundData;
            window.movementTrendsChart.update();
        }
    }
    
    // Additional chart and table update functions would be implemented here
    // For brevity, showing the structure
});
</script>

{{ footer }}
